<% include ../partials/header%>

    <div id="banner" class="jumbotron jumbotron-fluid d-flex justify-content-center align-content-center">
        <div class= "m-auto b-0 p-2 topic d-flex flex-column rounded">
            <h1 class="display-2 text-center text-black">滿好書坊</h1>
            <p class="lead text-center text-black">一書一世界，一卷一人生</p>
        </div>
    </div>
    
    <!--display every blog-->
    <div class="row">
        <% blogs.forEach(function(blog){ %>
            <div class="col-12 col-sm-6 col-lg-4 shadow-sm bg-white rounded p-3 mx-0 my-1">
                <div class="w-100 m-2">
                    <h2 class="text-center"><%= blog.title%></h2>
                </div>
                <div class="w-100 m-2" >
                    <img class="w-100 h-auto b-0" src="<%= blog.image%>">
                </div>
                <div class="w-100 m-2">
                    <p><%= blog.content.substring(0, 100)%>...</p>
                </div>
                
                <form class="m-2" action = "/blogs/<%= blog._id%>" method="GET">
                    <button class="btn btn-outline-primary">更多</button>
                </form>
            </div>
        <% }); %>
    </div>
 



<% include ../partials/footer%>